header {
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
h1 {
    color: white;
    padding: 10px;
    margin-left: 25px;
}
#searched-cities {
    font-size: 20px;
    text-align: center;
    background-color: rgb(93, 133, 243);
    color: white;
    border-radius: 10px;
    margin: 20px;
}